h1, h2, h3, h4, p, li{
    font-family: sans-serif;

}
h1,h2,h3,h4{
    color: #2ca847;
}
.main-header{
    background-color: rgb(198, 206, 206);
}



h1{
    color: #1098ad;
    font-size: 26px;
    text-transform: uppercase;
    font-style: italic;
}

h2{
    font-size: 30px;
    
}

h3{
    font-size: 20px;
    
}
h4{
    font-size: 30px;
    
    
}
h5{
    font-size: 15px;
    text-transform: uppercase;
    text-align: center;
}

p{
    font-size: 22px;
     line-height: 1.5;
}

footer p{
   font-size: 10px; 
}
/*header p{
    font-style: italic;
}*/

#Copyright{
    font-size: 16px;
}
.related-author{
    font-size: 18px;
    font-weight: bold;
}
ul{
    list-style: none;
}
aside{
    background-color: #f7f7f7;
    border: 5px solid #1098ad;
}