body{
    background-color: rgb(214, 178, 166);
}


.sign-up{
    text-align: center;
    color: darkblue;
    padding: 60px;
    margin: 5%;
    width: 300px;
    font-size:50px;
    position:absolute;
    right:350px;
    top: 0px;
    border: 2px solid darkblue;
    background-color: blanchedalmond;
    
}
.input-box{
    margin: 3%;
}

