body{
   background-color:rgb(214, 178, 166);

}
h1{
    font-size: 50px;
    font-style: oblique;
    color: darkblue;
    margin-top: 80px;
    font-weight: bold;
}
p{
    font-size: 30px;
}
.sign-in
{
    
    text-align: center;
    color: darkblue;
    padding:20px;
    margin: 8%;
    width: 300px;
    font-size: 30px;
    position:absolute;
    right:100px;
    top: 0px;
    display: inline-block;
    border: black;
    background-color: blanchedalmond;
}  
.Buttons_SignIn
{
text-align: center;
position: relative;
}
 
aside{
    
    position: absolute;
    right:340px;
    top: 300px;
    font-size: 15px;
    margin-bottom: 20px;
}

    
    


    


    


    




    
    
    
    
    
