

header{
    background-color:rgb(199, 222, 223)
}
    


h1{
    font-style: italic;
    font-size: 20px;
    text-transform: uppercase;
}
h2{
    font: 15px;
    line-height: 0.5;
    
}
h4{
    font-size: 20px;
}
td{
    text-align: center;
}
h5{
    line-height: 0.5;
    font-size: 20px;
}

    
    

     
    


    

    
